polyphonic-dissonance.aux
polyphonic-dissonance.bbl
polyphonic-dissonance.blg
polyphonic-dissonance.dep
polyphonic-dissonance.log
polyphonic-dissonance.out
polyphonic-dissonance.tex
snippet-*.ly
tmp*.out
tmp*.pdf
